############################################################
## General folders to ignore
############################################################
tmp/

############################################################
## PHPStorm IDE Specific files
############################################################
.idea/
